<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
        <nav>
            <a href="/">Home</a>
            <a href="/add_book">Add book</a>
            <a href="/add_author">Add author</a>
            <a href="{{ url_for('list_authors') }}"> List authors </a>
        </nav><br><br>
<main>
            {% if authors_without_books %}
            <h3>Authors list doesn't have any other book in your library </h3>
            <table>
                <tr>
                    <th> Id author </th>
                    <th> Name author </th>
                    <th> Birth date </th>
                    <th> Delete </th>
                </tr>
                {% for author in authors_without_books %}
                <tr>
                    <td>{{ author.id }}</td>
                    <td>{{ author.name }}</td>
                    <td>{{ author.birth_date}}</td>
                    <td>
                        <form action="{{ url_for('delete_author', author_id=author.id) }}" method="POST">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
</main>
  </body>
</html>