body {
    font-family: Arial;
    background-color: #f4f4f4;
}
* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    padding: 15px 15px;
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: pink;
    color: #333;
}

.search {
    padding: 15px 15px;
    display: flex;
}

label, input {
    padding-inline: 15px;
}

.table_container{
    display: flex;
    justify-content: center;
}

table {
    margin: 15px 0px;
    border-collapse: collapse;
}

th {
    background-color: #333;
    color: white;
    padding: 10px;
}

td {
    padding:10px;
}

.form_container{
    display: flex;
    justify-content: center;

}

.add_book, .add_author {
    background-color: white;
    padding: 20px;
}
h3 {
    text-align: center;
}